<style>
    footer {
        width: 100%;
        background-color: #333333;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
        padding: 20px 30px;
    }

    footer > .footerFlex {
        width: calc(100% + 12px);
        margin: -12px 0 0 -12px;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: content-box;
    }


    footer > .footerFlex > * {
        margin: 12px 0 0 12px;
        text-align: center;
    }


    footer > .footerFlex > .footerlogo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    footer > .footerFlex > .footerlogo > .footerimg {
        width: 76.5px;
        height: 60px;
    }

    footer > .footerFlex > .linkColum {
        height: 220px;
        border-left: 1px solid white;
        width: max-content;
    }

    footer > .footerFlex > .linkColum:nth-child(4) {
        flex-grow: 1;
    }

    footer > .footerFlex > .linkColum > hr {
        display: none;
    }

    @media screen and (max-width: 700px) {
        footer > .footerFlex {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            flex-wrap: nowrap;
            box-sizing: content-box;
            justify-content: space-around;
            align-items: center;
        }

        footer > .footerFlex > * {
            text-align: center;
            width: 100%;
        }

        footer > .footerFlex > .footerlogo {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            align-items: center;
            order: 99;
        }

        footer > .footerFlex > .footerlogo > img {
            width: 50px;
            padding: 0;
        }

        footer > .footerFlex > .linkColum {
            margin-top: 30px;
            height: auto;
            border-left: none;
        }

        footer > .footerFlex > .linkColum > hr {
            width: 100%;
            display: block;
        }
    }

    footer > .footerFlex > .linkColum > .linkColumHeader {
        margin: 0 auto 5px;
        font-size: 20px;
    }

    footer > .footerFlex > .linkColum > div:nth-child(2) {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer > .footerFlex > .linkColum > div > a {
        text-decoration: none;
        height: 48px;
    }

    footer > .footerFlex > .linkColum > div > a > div {
        height: 48px;
        padding: 1px 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.5s ease;
        color: lightgray;
    }

    footer > .footerFlex > .linkColum > a > div:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
</style>

<div class="footerFlex">
    <div class="footerlogo">
        <img class="footerimg" loading="lazy" decoding="async" alt="Computer Warehouse Logo" src="/2021-websites/owen/images/logo_S.png" srcset="/2021-websites/owen/images/logo_S.png 1x, /2021-websites/owen/images/logo_M.png 2x">
        <span>Computer<br>Warehouse</span>
    </div>
    <div class="linkColum">
        <div class="linkColumHeader">General</div>
        <div>
            <a href="/2021-websites/owen/"><div>Home</div></a>
            <a href="/2021-websites/owen/products/"><div>Products</div></a>
            <a href="/2021-websites/owen/about/"><div>About Us</div></a>
            <a href="/2021-websites/owen/contact/"><div>Contact Us</div></a>
        </div>
        <hr>
    </div>
    <div class="linkColum">
        <div class="linkColumHeader">Computers</div>
        <div>
            <a href="/2021-websites/owen/products/"><div>All Products</div></a>
            <a href="/2021-websites/owen/products/prebuilts/"><div>Prebuilt Built</div></a>
            <a href="/2021-websites/owen/products/parts/"><div>Parts</div></a>
        </div>
        <hr>
    </div>
    <div class="linkColum">
        <div class="linkColumHeader">Parts</div>
        <div>
            <a href="/2021-websites/owen/products/parts/"><div>All Parts</div></a>
            <a href="/2021-websites/owen/products/parts/cpu"><div>CPU</div></a>
            <a href="/2021-websites/owen/products/parts/ram"><div>RAM</div></a>
            <a href="/2021-websites/owen/products/parts/case"><div>Cases</div></a>
            <a href="/2021-websites/owen/products/parts/storage"><div>Storage</div></a>
            <a href="/2021-websites/owen/products/parts/motherboard"><div>Motherboards</div></a>
            <a href="/2021-websites/owen/products/parts/gpu"><div>Graphics Cards</div></a>
            <a href="/2021-websites/owen/products/parts/psu"><div>Power Supplys</div></a>
        </div>
        <hr>
    </div>
</div>