<style>
    #slideoutmenu {
        position: absolute;
        top:0;
        height: 100%;
        width: 150px;
        transition: 0.5s;
        display: block;
        left: -155px;
    }

    #closeButton {
        padding: 12px;
    }

    #slideoutmenuwrapper {
        width: 150px;
        height: 100%;
        background-color: #595959;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
    }

    .slideoutmenuopen {
        left: 0 !important;
        width: 100% !important;
        transition: 0.5s;
    }

    #slideoutmenuwrapper > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100%;
    }

    #slideoutmenuwrapper > div > img {
        color: white;
        z-index: 2;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    #slideoutmenuwrapper > div > img:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    #slideoutmenuwrapper > div > .titleLogo {
        flex-grow: 1;
        margin: 0 -12px 20px 36px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #slideoutmenuwrapper > div > .titleLogo > img {
        width: 51px;
        padding: 0px;
        margin: 0 auto;
    }

    #slideoutmenuwrapper > .nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
    }

    #slideoutmenuwrapper > .nav > a {
        width: 100%;
        height: 48px;
    }

    #slideoutmenuwrapper > .nav > a > div {
        width: 100%;
        height: 48px;
        padding: 5px 5px;
        transition: background-color 0.5s ease;
    }

    #slideoutmenuwrapper > .nav > a > div:hover {
        padding: 5px 5px;
        background-color: rgba(255,255,255,0.1);
    }
</style>
<div id="slideoutmenuwrapper">
    <div>
        <span class="titleLogo">
            <img class="logo" loading="lazy" decoding="async" alt="Computer Warehouse Logo" src="/2021-websites/owen/images/logo_S.png" srcset="/2021-websites/owen/images/logo_S.png 1x, /2021-websites/owen/images/logo_M.png 2x">
            Computer<br>Warehouse
        </span>
        <img loading="lazy" decoding="async" src="/2021-websites/owen/icons/close-24px.svg" alt="close menu" id="closeButton" width="48" height="48"/>
    </div>
    <span class="nav">
        <a href="/2021-websites/owen/"><div>Home</div></a>
        <a href="/2021-websites/owen/products/"><div>Products</div></a>
        <a href="/2021-websites/owen/about/"><div>About Us</div></a>
        <a href="/2021-websites/owen/contact/"><div>Contact Us</div></a>
    </span>
</div>
<script src="/2021-websites/owen/scripts/slideMenu.js"></script>