
*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    
}
header{
    height: 60px;
    width:100%;
    background:rgb(86, 108, 129);
    color:white;
    padding: 5px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
}
header>div{
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
header>div>img{
    height: 100%;

}
.title{
    font-size: 40px;
}
.ribbon{
 height: 100%;
 margin-right: 25px; 
}
.ribbon>a{
    height: 100%;
    line-height: 50px;
    text-decoration:none;
    color:white;
    padding:0 5px;
}
a:hover, a:active {
    background-color: rgb(114, 152, 163);
    color: white;
  }

main{
min-height: calc(100vh - 50px);
padding:5px;
background-color: rgb(157, 162, 163);
background-image: linear-gradient(12.29deg, #335872 17.92%, #a7c1f3 82.08%);
}
footer{
    height: 100px;
    width:100%;
    background:rgb(86, 108, 129);
    color:white;
    padding: 5px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
}
footer>div{
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
footer>div>img{
    height: 100%;
    padding-right: 20px;
}
.titlez{
    font-size: 20px;
    padding-top: 5px;
}
.ribbonz{
    height: 100%;
    margin-right: 25px; 
}
.ribbonz>a{
    text-decoration:none;
    color:white;
    padding: 10px;
    margin: auto 0;
}