.mainheader{
     font-size: 30px;
     text-align: center;
     padding-top: 50px;  
     text-decoration: underline;
}
.galleryimagebox{
    flex-grow: 1;
    width: 300px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    text-decoration: underline;
}
.galleryimage{
    padding: 5px;
    display: block;
}
.photo{
    width:    100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}