.contactHeader {
    margin: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px 10px 0;
}

.info > div {
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 10px;
}

.info > div > p > img {
    margin-right: 10px;
}

.info > iframe {
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 400px;
    width: 600px;
    margin-top: 10px;
    margin-left: 10px;
}

.openingTimes {
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.openingTimes > div {
    display: flex;
    flex-direction: column;
}

.openingTimes > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}