.landingMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #595959;
    padding: 10px;
    margin: 30px auto;
    max-width: 900px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.landingMenuTitle {
    padding: 10px 0;
    width: fit-content;
    font-size: 2em;
}

.landingMenuContainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 12px);
    margin: -12px 0 0 -12px;
    box-sizing: content-box;
}

.landingMenuItem {
    box-sizing: border-box;
    margin: 12px 0 0 12px;
    background: linear-gradient(45deg, #CC0000, #0000CC);
    padding: 30px 20px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 601px) {
    .landingMenuItem {
        flex-basis: 269.5px;
    }
}