*{
    font-family: 'Kalam', cursive;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: #0DD4E2;
    color: white;
    padding: 5px;
    display:flex;
    align-items: center;  
    place-items: space;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.title{
    font-size: 35px; 
    padding-left: 10px;
}

.topnav{
    margin-right: 5px;
    padding:0;
}

.topnav> a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.topnav> a {
    text-decoration: none;
    transition: background-color 0.25s ease;
    padding:1px 7px;
    color: #033C40;
}

body{
    margin:0;
    padding:0;
    font-size: 18px;
}

main{
    min-height: calc(100vh - 56px);
}