<style>
    footer {
        width: 100%;
        background-color: #333333;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
        padding: 20px 30px;
    }

    footer > .footerFlex {
        width: calc(100% + 12px);
        margin: -12px 0 0 -12px;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: content-box;
    }


    footer > .footerFlex > * {
        margin: 12px 0 0 12px;
        text-align: center;
    }


    footer > .footerFlex > .footerlogo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    @media screen and (max-width: 400px) {
        footer > .footerFlex {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            flex-wrap: nowrap;
            box-sizing: content-box;
            justify-content: space-around;
            align-items: center;
        }

        footer > .footerFlex > * {
            text-align: center;
            width: 100%;
        }

        footer > .footerFlex > .footerlogo {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            align-items: center;
        }

        footer > .footerFlex > .footerlogo > img {
            width: 50px;
            padding: 0;
        }
    }

    footer > .footerFlex > .linkColum {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    footer > .footerFlex > .linkColum > .linkColumHeader {
        margin: 0 auto 5px;
    }

    footer > .footerFlex > .linkColum > a {
        text-decoration: none;
    }

    footer > .footerFlex > .linkColum > a > div {
        height: 100%;
        padding: 1px 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.5s ease;
        color: lightgray;
    }

    footer > .footerFlex > .linkColum > a > div:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
</style>

<div class="footerFlex">
    <div class="footerlogo">
        <img class="logo" src="/it-website/images/logo.png">
        <span>Computer<br>Warehouse</span>
    </div>
    <div class="linkColum">
        <div class="linkColumHeader">General</div>
        <a href="/2021-websites/owen/"><div>Home</div></a>
        <a href="/2021-websites/owen/products/"><div>Products</div></a>
        <a href="/2021-websites/owen/about/"><div>About Us</div></a>
        <a href="/2021-websites/owen/contact/"><div>Contact Us</div></a>
    </div>
    <div class="linkColum">
        <div class="linkColumHeader">Computers</div>
        <a href="/2021-websites/owen/products/"><div>All Products</div></a>
        <a href="/2021-websites/owen/products/prebuilts/index.html"><div>Prebuilt Built</div></a>
        <a href="/2021-websites/owen/products/prebuilts/index.html"><div>Parts</div></a>
    </div>
</div>