<style>
    #slideoutmenu {
        position: absolute;
        top:0;
        height: 100%;
        width: 150px;
        transition: 0.5s;
        display: block;
        left: -155px;
    }

    #slideoutmenuwrapper {
        width: 150px;
        height: 100%;
        background-color: #595959;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
    }

    .slideoutmenuopen {
        left: 0 !important;
        width: 100% !important;
        transition: 0.5s;
    }

    #slideoutmenuwrapper > div {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    #slideoutmenuwrapper > div > img {
        color: white;
    }

    #slideoutmenuwrapper > .titleLogo {
        margin: 0 0 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #slideoutmenuwrapper > .titleLogo > img {
        width: 50px;
        padding: 0px;
        margin: 0 auto;
    }

    #slideoutmenuwrapper > .nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
    }

    #slideoutmenuwrapper > .nav > a > div {
        padding: 5px 5px;
        transition: background-color 0.5s ease;
    }

    #slideoutmenuwrapper > .nav > a > div:hover {
        padding: 5px 5px;
        background-color: rgba(255,255,255,0.1);
    }
</style>
<div id="slideoutmenuwrapper">
    <div><img src="/2021-websites/owen/icons/close-24px.svg" id="closeButton"/></div>
    <span class="titleLogo">
        <img class="logo" src="/2021-websites/owen/images/logo.png">
        Computer<br>Warehouse
    </span>
    <span class="nav">
        <a href="/2021-websites/owen/"><div>Home</div></a>
        <a href="/2021-websites/owen/products/"><div>Products</div></a>
        <a href="/2021-websites/owen/about/"><div>About Us</div></a>
        <a href="/2021-websites/owen/contact/"><div>Contact Us</div></a>
    </span>
</div>
<script src="/2021-websites/owen/scripts/slideMenu.js"></script>